@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

/// colors 
$soft-red: hsl(10, 79%, 65%); 
$cyan: hsl(186, 34%, 60%); 
$med-brown: hsl(28, 10%, 53%); 
$dark-brown: hsl(25, 47%, 15%); 
$cream: hsl(27, 66%, 92%); 
$pale-orange: hsl(33, 100%, 98%);
$red: #EC755D; 
$divider: #F8E9DD;
/// font styles
$root-fs: 18px;
$fw-reg: 400; 
$fw-bold: 700; 
$font: "DM Sans"; 

/// widths
$mobile: 375px; 
$desktop: 1440px; 

/// others 
$br: 20px; 